 @font-face {
    font-family: 'icomoon';
    src: url('data:application/octet-stream;base64,AAEAAAALAIAAAwAwT1MvMghi/8wAAAC8AAAAYGNtYXAXVtKlAAABHAAAAFRnYXNwAAAAEAAAAXAA
    AAAIZ2x5ZsCQ4pAAAAF4AAAXZGhlYWQN+kenAAAY3AAAADZoaGVhA+ICBAAAGRQAAAAkaG10eEEA
    BjQAABk4AAAAjGxvY2FYGF12AAAZxAAAAEhtYXhwACoBEQAAGgwAAAAgbmFtZZlKCfsAABosAAAB
    hnBvc3QAAwAAAAAbtAAAACAAAwH4AZAABQAAAUwBZgAAAEcBTAFmAAAA9QAZAIQAAAAAAAAAAAAA
    AAAAAAABEAAAAAAAAAAAAAAAAAAAAABAAADpHgHg/+AAIAHgACAAAAABAAAAAAAAAAAAAAAgAAAA
    AAADAAAAAwAAABwAAQADAAAAHAADAAEAAAAcAAQAOAAAAAoACAACAAIAAQAg6R7//f//AAAAAAAg
    6QD//f//AAH/4xcEAAMAAQAAAAAAAAAAAAAAAQAB//8ADwABAAAAAAAAAAAAAgAANzkBAAAAAAEA
    AAAAAAAAAAACAAA3OQEAAAAAAQAAAAAAAAAAAAIAADc5AQAAAAAEABX/6wHrAcAAGwAnADYATAAA
    ASIHDgEHBhUUFx4BFxYzMjc+ATc2NTQnLgEnJgMiJjU0NjMyFhUUBgMiBh0BFBYzMjY9ATQmIwcO
    ARUUFhceATMyNjc+ATU0JicmIgcBADErKkASExMSQCorMTErKkASExMSQCorMVBwcFBQcHBQCgsL
    CgoLCwoPAwMDAwMHBQUHAwMDAwMGEgYBwBITPysrMTArK0ASEhISQCsrMDErKz8TEv5VcFBQcHBQ
    UHABKwwJVgkMDAlWCQyxAwcFBQcDAwMDAwMJAwMJAwYGAAQAKwBAAdUBawANABsAKQA3AAABISIG
    FRQWMyEyNjU0JiUhMjY1NCYjISIGFRQWBSEiBhUUFjMhMjY1NCYHISIGFRQWMyEyNjU0JgHA/oAK
    CwsKAYAKCwv+dgGACgsLCv6ACgsLAYr+gAoLCwoBgAoLCwr+gAoLCwoBgAoLCwEVCwoKCwsKCgsr
    DAkKDAwKCQyADAkKDAwKCQxVDAoJDAwJCgwAAwAV/+sB6wHAABsAKwBGAAAlIiY9ATQmIyIGHQEU
    BiMiBhUUFjMhMjY1NCYjIT4BPQE0NjMyFh0BFBYXIRcmBgcOAScuAScuAQcOARceARceATMyNjc2
    JgHVERllRkZlGREKDAwKAaoKDAwK/qAFBks1NUsGBf7quggRBQURCAMEAQURCAgEAwULCAgQCBAe
    CQgEgBkSakdkZEdqEhkMCQoMDAoJDAoVDGo1S0s1agwVClcEBQgIBAMCBAMIBAMFEQgICwUFAxAQ
    CBEABAAG/9UB+gHPABoANABZAGMAACUmBgcOAScuAScuAQcOARceARceATMyNjc2JgM2FhceAR0B
    FBYzMjY9ATQmJy4BBw4BFx4BASc4ATEBJiIHBhQfAQ4BHQEUBiMiBhUUFjMhFx4BMzI2NzY0JyU+
    AT0BNDY3FyMBLwgRBQURCAMEAQURCAgEAwULCAgQCBAeCQgEdS9lGwYJDAkKDAwKI4g9CAYFBREB
    QID+qgYRBwYGXAYHGREKDAwKATd6AwgEAwgEBgb+ewUGAwGzwikEBQgIBAMCBAMIBAMFEQgICwUF
    AxAQCBEBYBocLw0hEFUKCwsKVRcpFDwnIwQQCAgE/nmAAVUGBgYSBlwQIBBqEhkMCQoMeQMEBAMG
    EQeGChUMaggQBrMAAAADACv/6wHVAcAAIgA/AEkAAAEjNTQmIyIGHQEjNTQmIyIGHQEjIgYVERQW
    MyEyNjURNCYjBTMVFBYzMjY9ATMVFBYzMjY9ATMyFh0BITU0NjMBISImPQEhFRQGAZUqDAoJDIAM
    CQoMKhwkJBwBKhwkJBz+1ioMCgkMgAwJCgwqCgz+qgwKASr+1goMAVYMAZUWCQwMCRYWCQwMCRYk
    HP7WHCQkHAEqHCQqFgkMDAkWFgkMDAkWDApAQAoM/qoMCsDACgwABAAAAAACAAGrABoANQBBAE0A
    AAEjJy4BKwEiBg8BIyIGHQEUFjMhMjY9ATQmIxMUBiMhIiY9ATQ2OwEyNj8BMxceATsBMhYdASci
    BhUUFjMyNjU0JgciJjU0NjMyFhUUBgHASyQDCQWABQkDJEsbJSUbAYAbJSUbFQsK/oAKCwsKVQUJ
    AyVoJAUKBVUKC9UtPj4tLT4+LRslJRsbJSUBazcDBgYDNyUb6xslJRvrGyX+1QoLCwrrCQwFBDc3
    BAUMCevrPi0tPj4tLT6rJRsbJSUbGyUAAAAAAQBGAFUBugFkABYAAAEmIg8BJyYiBwYUHwEeATMy
    Nj8BNjQnAboHEQbcXAYRBwYGawMHBQUHA+sGBgFkBwfbWwcHBhEHagMEBAPqBxEGAAACACsAAAH6
    AasAFgA9AAABJiIPAScmIgcGFB8BHgEzMjY/ATY0JwciBh0BFAYjISImNRE0NjsBMjY1NCYrASIG
    FREUFjMhMjY9ATQmIwH6BxEG3DEGEgYGBkADCQMDCQPrBgY6CgsMCv7WCgwMCuoKDAwK6hwkJBwB
    KhwkCwoBpAcH2zEGBgcRBkADBAQD6gcRBrkMCpUKCwsKASsJDAwJCgwlG/7VGyUlG5UKDAAAAAEA
    sQBAAU8BZAAWAAA/ATY0JyYiDwEGFB8BHgEzMjY3NjQvAd5xBgYGEgaABgaAAwkDAwkDBgZx1XEH
    EQYHB4AGEQeAAwMDAwcRBnEAAAAAAQCxAEABTwFkABYAACUnJiIHBhQfAQcGFBceATMyNj8BNjQn
    AU+ABhIGBgZxcQYGAwcFBQcDgAYG5IAHBwYRB3FxBhEHAwMDA4AHEQYAAAACAHEAVQGPAU8AFgAt
    AAA/ATY0JyYiDwEGFB8BHgEzMjY3NjQvATM3NjQnJiIPAQYUHwEeATMyNjc2NC8BnlwGBgcRBmsG
    BmsDCAQDCAQGBlyVXAYGBhIGawYGawMJAwMJAwYGXNVcBhIGBgZrBhEHagMEBAMGEQdbXAYSBgYG
    awYRB2oDBAQDBhEHWwAAAAACAHEAVQGPAU8AFgAtAAAlJyYiBwYUHwEHBhQXHgEzMjY/ATY0JyMn
    JiIHBhQfAQcGFBceATMyNj8BNjQnAY9rBhEHBgZcXAYGBAgDBAgDawYGlWsGEgYGBlxcBgYDBwUF
    BwNrBgbkawYGBhIGXFsHEQYDBAQDagcRBmsGBgYSBlxbBxEGAwQEA2oHEQYAAAACACv/6wHVAcAA
    HgBDAAAlIgYdARQGIyEiJj0BNCYjIgYdARQWMyEyNj0BNCYjBx4BMxYyMzoBNz4BPwE2NCcmIg8B
    NTQmIyIGHQEnJiIHBhQfAQHACgsMCv7WCgwLCgoLJBwBKhwkCwrPAgMBAgUCAgUCAQMCVQcHBhEH
    MQsKCgsxBxEGBwdVgAwJQAoMDApACQwMCUAcJCQcQAkMDwICAgIBAQJVBxEGBwcx+AkMDAn4MQcH
    BhEHVQAAAAIAKwAAAc8BpAAUABoAAAEnJiIHAQ4BHQEUFjsBMjY3ATY0JwEjNQEXAQHPawYRB/7r
    AwMLCmsEBwQBFQYG/tNNAQBN/wABOmoHB/7rAwcFawkMAwMBFgYRB/7xTAEATP8AAAABABX/6wHg
    AdUAhwAAATQmJzYmJy4BJyYGByYiBy4BBw4BBw4BFw4BFRQWFw4BHQEGJicuAScmBgcGFhceARce
    ATcVFBYzMjY9ATA0MTU0Njc+AScuAScuATU0Njc+AScmNDceARceATc2MhcWNjc+ATcWBgcGFhce
    ARUUBgciBgcGFhceAR0BFBYzMjY9ATYmJz4BNQHgDw8FAwgCBgUGLSsjSCIrLAcEBwEKAwYOEE8t
    AwMiHg0IFRIIEAIBCAgFDAcOMTALCgoLBwgFAwMCCQcuSQ0NBAEBBQMIHBMFCgQiRyIFCQMVHAcD
    AQUBAQUNDEkuBwkBAgMDCAcMCQoMAQMFJ1UBIBgqExUrFAQHAQIEHAgIHAQCAQcEFSoVEywWVkUJ
    CxQKAgYUEgsWAwIJCAgQAQIMCBMmBiQKCwsKPgITCxQIBAwFBgcCBi9LEyEOBQwEDxoNAgwOAwEC
    CQkCAgIODAINGg0GDAMNIhNLMAUJBgYMAwgWC1MKCwsKUQsUCghDWwAAAAMAKwAAAdUBqwAwAD4A
    TAAAASIHDgEHBh0BFBY7ATI2PQE0JisBNTQ2MzIWHQEjIgYdARQWOwEyNj0BNCcuAScmIwMyFh0B
    FAYrASImPQEzBRQGKwEiJj0BNDY7ARUBACwnJzoRECQcFRslJRsrZUZGZSsbJSUbFRwkEBE6Jycs
    gAoLCwoVCgwrASsMChUKCwsKKwGrERE6JycslRslJRtAGyUVR2RkRxUlG0AbJSUblSwnJzoREf7q
    CwpACgsLClVVCgsLCkAKC1UAAAIAK//rAdUBwAAeAEMAAAEjIgYVFBY7ATIWFREUBisBIgYVFBY7
    ATI2NRE0JiMHNjQnLgEvASYiBwYUHwEjIgYVFBY7AQcGFBceATMyNj8BPgE1AZVqCgwMCmoKDAwK
    agoMDApqHCQkHEICAgEBAlUHEQYHBzHNCgsLCs0xBwcDCAQDCARVAgIBwAwJCgwLCv6rCgwLCgoL
    JBwBVRsl8wMJBQEEAVYGBgcRBjEMCgkMMQYSBgMDAwNVAgMCAAAAAAMAFQAVAesBlQAPABkAKwAA
    ASEiBhURFBYzITI2NRE0JgUhMhYXByc+ATMBISImPQEXHgEzMjY/ARUUBiMBq/6qGyUlGwFWGyUl
    /o8BVgYKA76+AwoGAVb+qgkMswMHAwMHA7MMCQGVJBz/ABslJRsBABwkKgcGhIQGB/7VDAnYfgIC
    AgJ+2AkMAAAAAQBVAMABqwDrAA4AACUhIgYVFBYzITI2NTQmIwGV/tYKDAwKASoKDAwK6wwKCQwM
    CQoMAAMAKwAAAdUBqwAlADIAPgAAAS4BIwUOAR0BIyIGFRQWOwEyNjURNxUjIgYVFBY7ATI2NRE0
    JicBFAYrASImNTQ2OwEVJRQGKwEiJjU0NjsBAc0DCQX/AAcKQBwkJBwqHCTWQBwkJBwqHCQDBf7e
    DAoqCgwMCkABAAwKKgoMDApAAaYEASsCCwjrJRsbJSUbARok0yUbHCQkHAEqBQkD/poKCwsKCgsV
    KwoMDAoJDAAAAgAr//4B6wG+ABkAIAAAAS4BBwUOARUUFh8CHgEXMDIxMjY3EzYmJwMnLgEvASUB
    5AUMBv5qBgYJCJ4oAgsGAgcJBMABAwXIHAIIBXEBKQG6BAMDwAMMBgcLAiieBgoBBgcBlQgNBf6b
    bwcHAR6NAAEAVQArAasBgAAgAAAlIzU0JiMiBh0BIyIGFRQWOwEVFBYzMjY9ATMyNjU0JiMBlYAL
    CgoLgAoMDAqACwoKC4AKDAwK64AJDAwJgAwKCQyACgsLCoAMCQoMAAAAAgArAAABzwGrABoAMAAA
    JSc+ATU0JiMiBhUUFjMyNjcXHgEzMjY3NjQnJTQ2MzIWFRQGBzgBMTgBMQ4BIyImNQHPYBIUaktL
    ampLIDkYYAMJAwMJAwYG/oZROjpRFhMTMh06USRgFzogTGpqTEtqFRFgAwMDAwcRBtE6UVE6HDMT
    ExVROQAAAAQAAP/TAgAB1QALABcAjwEOAAABIgYVFBYzMjY1NCYHIiY1NDYzMhYVFAYXPgEzMjY1
    NCYrASImLwEmNjc+ASc1Jy4BIzgBMSIGBw4BJwYmNTQmIyIGHQEUBg8BBiYnJiIHBhYXHgEHDgEj
    IgYVFBY7ATIWFxYGBw4BFRQWHwE4ATEXFjY3PgEXHgEVFBYzMjY9ATQ2NzYWFxYyNzYmJy4BNzEH
    HgEVFAYHDgEjOAExIiYnLgEHDgEdARQGIyImPQE0JicuASMiBgcGIi8BIy4BNTQ2Nz4BJy4BKwEi
    JjU0NjsBMjY3NiYnJjQ3NjIXHgE/AT4BPQE0NjMyFhUUFhcWNjc+ATMxMhYXMRYGBw4BHwEeATsB
    MhYVFAYjIgYHBhYXAQAjMjIjIzIyIxIZGRISGRmfAgcGGyUlGwQDBgICAgEFEgMOCQgWDQwZCgMI
    AwQFJRsbJQMDBQMJBRM1ERQBFQMBAgIIBRslJRsEBQYCAgEFCgkJCAIGEy8UAwkFBAQlGxslBQQD
    CQUTNREUARUBAwIaBAMDBAMHBAUIBQwhEBATCwoJDBQQBQ0GCxUIBw8GBAMBAQQFDQUIBh0QBAoL
    CwoCEhsGBwcMBwcGEggLIA4HEBILCgoLEhAQIg4EBwQFBwMHAQgLBgQDBh0QBAoLDAsSGwYICAwB
    KzIkIzIyIyQygBkREhkZEhEZHgMFJRscJAQDBAMJBRIuEwcECAkKCQMBAgIIBBwkJBwEAwYCAgEC
    BBMTFDUTAwkFAwYlGxslBQMECQQKFg0LFgoCBg8DEgMBAgEHBxslJRsEBQcBAgEFExMTNhMFCQMv
    AwcFBQcDAwMDBQ0GCAccEAUJDAwJAhIbBwMBCQgHBQgCBQIFBwUNIRAQEgwJCgwUEBAhDwYRBwYI
    DAYFAgYdEAQKDA0LERwGBgYNAwMDAwcRCAsgDwYQEgwKCQwSEBAiDgAAAAQAK//rAdUBwAA0AEAA
    TQBjAAAlIgYHJzQ2NTQmJzceATMyNjU0JiMiBhUUFhcHLgEjIgYVFBYzMjY3FxQGFRQWMzI2NTQm
    IxEyFhUUBiMiJjU0NgciJjU0NjMyFhUUBiMFIiY1NDY3OAExOAExPgEzMhYVFAYjAYASHwtxAgIC
    cQ0fEiMyMiMjMgICcwsfEiMyMiMSHwtxAjIjIzIyIxIZGRISGRnuEhkZEhIZGRIBABIZBAMFFAsS
    GRkSlQ4LQgYLBgcKB0ILDzIkIzIyIwcKB0ILDzIkIzIODEMGCwYjMjIjIzIBABkREhkZEhEZ6hkR
    EhkZEhEZlhkSBgsECgwZEhIZAAAAAAYAAP/VAgAB1QALABgAJAAwAFMAXgAANyIGFRQWMzI2NTQm
    ByImNTQ2MzIWFRQGIyUiBhUUFjMyNjU0JgciJjU0NjMyFhUUBiczOAEzMjY/ATYmJy4BIyEnLgEr
    ASIGFRQWOwEyFh8BHgEzJQcOASsBIiYvASGrHCQkHBslJRsKDAwKCQwMCQEAHCQkHBslJRsKDAwK
    CQwM+OICFiUDIgIDAwMKBP6gBwMjGi8JDAwJLwgMAiAEJBoBFR4BDAjkCAwCEwFAVSQcGyUlGxwk
    VQwJCgwMCgkMVSQcGyUlGxwkVQwJCgwMCgkMaxwXswUJAwUEMxgfCwoKCwwI9Rgf1ZoICQwIlwAA
    AAMAHP/tAesBwAAlADsARgAAAS4BIzgBIyEiBg8BBhYXOgE7ARUUFjMyNj8BMzI2NzA0MTUyNjEP
    AS4BPQE0JisBMCIjLgE/AT4BOwEVNw4BKwE1MzYWFxUB6wQoGwL+2BgkBB4DHhoDBQNkMiMHCwJO
    KxsoBAEBlkwNEQwKeQMCCAoBHgIMCNtrAhAKJCQKEAIBghsjHxbAGiwDQCMyBgezIhwCkwK+rQUW
    DlUKDAEOCMAIC9EpCg7AAg4LkQAAAAMAFf/rAeQBwAAiAC0ASQAAAS4BJyoBKwE1NCYjIgYPASMi
    Bh0BFBYzITgBMTI2PwE2JicFIyImPQE0NjsBFSUOASM4ATEjNTceAR0BFBY7AToBMzIWFx4BFQcB
    1wgVDQMFA2IyIwcLAk40GyUlGwExGCQEHgIHCP6pKwkMDAkrARwCDAjbTA0RDAp5AgECBAcDBAEg
    AREKDgJAIzIGB7MlG5UcJB8WwA0ZC/wMCpUKC8ARCAnRrQUVDlYJDAUEAwgDwwAEAAAAKwIAAYAA
    DgAcACgANAAAASMiBhUUFjsBMjY1NCYjESMiJjU0NjsBMhYVFAYnIgYVFBYzMjY1NCYHIiY1NDYz
    MhYVFAYBVapHZGRHqkdkZEeqNUtLNao1S0s1IzIyIyQyMiQRGRkREhkZAYBkR0ZkZEZHZP7VTDQ1
    S0s1NEzWMiQjMjIjJDKAGRESGRkSERkABQAr/+sB1QHAACIALQA4AEcAVgAAASM1NCYrASIGHQEj
    IgYVFBY7AREUFjsBMjY1ETMyNjU0JiMlNDY7ATIWHQEjNRMUBisBIiY1ESERJyIGHQEUFjMyNj0B
    NCYjMyIGHQEUFjMyNj0BNCYjAcBVJRtWGyVVCgsLChUlG9YbJRUKCwsK/wAMCVYJDIDADAnWCQwB
    AKsJDAwJCgwMClYKDAwKCQwMCQFrFRslJRsVDAoJDP7rHCQkHAEVDAkKDBUKCwsKFRX+qwoMDAoB
    Ff7r1QwJgAoMDAqACQwMCYAKDAwKgAkMAAAAAAEAcQBAAY8BZAAmAAAlNzY0JyYiDwEnJiIHBhQf
    AQcGFBceATMyNj8BFx4BMzI2NzY0LwEBHnEGBgYSBnFxBhIGBgZxcQYGAwcFBQcDcXEDCQMDCQMG
    BnHVcQcRBgcHcXEHBwYRB3FxBhEHAwMDA3FxAwMDAwcRBnEAAAABAAAAAQAA9MiKG18PPPUACwIA
    AAAAANZtg4EAAAAA1m2DgQAA/9MCAAHVAAAACAACAAAAAAAAAAEAAAHg/+AAAAIAAAAAAAIAAAEA
    AAAAAAAAAAAAAAAAAAAjAgAAAAAAAAAAAAAAAQAAAAIAABUCAAArAgAAFQIAAAYCAAArAgAAAAIA
    AEYCAAArAgAAsQIAALECAABxAgAAcQIAACsCAAArAgAAFQIAACsCAAArAgAAFQIAAFUCAAArAgAA
    KwIAAFUCAAArAgAAAAIAACsCAAAAAgAAHAIAABUCAAAAAgAAKwIAAHEAAAAAAAoAFAAeAI4A4AFG
    AdoCPAKoAtADKANQA3gDwAQIBGYEmAVcBcIGIgZoBoIG2gcSB0AHhAjsCXAJ9ApUCrYLAAt0C7IA
    AQAAACMBDwAGAAAAAAACAAAAAAAAAAAAAAAAAAAAAAAAAA4ArgABAAAAAAABAAcAAAABAAAAAAAC
    AAcAYAABAAAAAAADAAcANgABAAAAAAAEAAcAdQABAAAAAAAFAAsAFQABAAAAAAAGAAcASwABAAAA
    AAAKABoAigADAAEECQABAA4ABwADAAEECQACAA4AZwADAAEECQADAA4APQADAAEECQAEAA4AfAAD
    AAEECQAFABYAIAADAAEECQAGAA4AUgADAAEECQAKADQApGljb21vb24AaQBjAG8AbQBvAG8AblZl
    cnNpb24gMS4wAFYAZQByAHMAaQBvAG4AIAAxAC4AMGljb21vb24AaQBjAG8AbQBvAG8Abmljb21v
    b24AaQBjAG8AbQBvAG8AblJlZ3VsYXIAUgBlAGcAdQBsAGEAcmljb21vb24AaQBjAG8AbQBvAG8A
    bkZvbnQgZ2VuZXJhdGVkIGJ5IEljb01vb24uAEYAbwBuAHQAIABnAGUAbgBlAHIAYQB0AGUAZAAg
    AGIAeQAgAEkAYwBvAE0AbwBvAG4ALgAAAAMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA=');
    font-weight: normal;
    font-style: normal;
  }
  
  [class^="#{$prefix}icon-"], [class*=" #{$prefix}icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .#{$prefix}icon-alert-circle:before {
    content: "\e900";
  }
  .#{$prefix}icon-align-justify:before {
    content: "\e901";
  }
  .#{$prefix}icon-bell:before {
    content: "\e902";
  }
  .#{$prefix}icon-bell-off:before {
    content: "\e903";
  }
  .#{$prefix}icon-calendar:before {
    content: "\e904";
  }
  .#{$prefix}icon-camera:before {
    content: "\e905";
  }
  .#{$prefix}icon-check:before {
    content: "\e906";
  }
  .#{$prefix}icon-check-square:before {
    content: "\e907";
  }
  .#{$prefix}icon-chevron-left:before {
    content: "\e908";
  }
  .#{$prefix}icon-chevron-right:before {
    content: "\e909";
  }
  .#{$prefix}icon-chevrons-left:before {
    content: "\e90a";
  }
  .#{$prefix}icon-chevrons-right:before {
    content: "\e90b";
  }
  .#{$prefix}icon-download:before {
    content: "\e90c";
  }
  .#{$prefix}icon-edit:before {
    content: "\e90d";
  }
  .#{$prefix}icon-github:before {
    content: "\e90e";
  }
  .#{$prefix}icon-headphones:before {
    content: "\e90f";
  }
  .#{$prefix}icon-log-in:before {
    content: "\e910";
  }
  .#{$prefix}icon-mail:before {
    content: "\e911";
  }
  .#{$prefix}icon-minus:before {
    content: "\e912";
  }
  .#{$prefix}icon-music:before {
    content: "\e913";
  }
  .#{$prefix}icon-navigation:before {
    content: "\e914";
  }
  .#{$prefix}icon-plus:before {
    content: "\e915";
  }
  .#{$prefix}icon-search:before {
    content: "\e916";
  }
  .#{$prefix}icon-settings:before {
    content: "\e917";
  }
  .#{$prefix}icon-share:before {
    content: "\e918";
  }
  .#{$prefix}icon-shopping-cart:before {
    content: "\e919";
  }
  .#{$prefix}icon-thumbs-down:before {
    content: "\e91a";
  }
  .#{$prefix}icon-thumbs-up:before {
    content: "\e91b";
  }
  .#{$prefix}icon-toggle-right:before {
    content: "\e91c";
  }
  .#{$prefix}icon-trash:before {
    content: "\e91d";
  }
  .#{$prefix}icon-x:before {
    content: "\e91e";
  }
  