.#{$prefix}img {
    &{
    }
    &.#{$prefix}img-radius {
        border-radius: 10%;
    }
    &.#{$prefix}img-round {
        border-radius: 100%;
    }
    &.#{$prefix}img-border {
        border:1px solid $default-color;
        background-color: white;
        padding: 2px;
    }
    &.#{$prefix}img-blur {
        filter: blur(6px);
    }
    @for $value from 1 to 6{
        &.#{$prefix}img-blur-#{$value} {
            filter: blur(2px*$value);
        }
    }
}