.#{$prefix}grid {
    display: block;
    width: 100%;
    position: relative;
    overflow: hidden;
    &>* {
        display: inline-block;
        float: left;
        overflow: hidden;
        box-sizing: border-box;
    }
} //screen query
@each $key,
$value in $screen-size-map {
    @media (min-width: nth($value, 1)) and (max-width: nth($value, 2)) {
        @for $i from 1 to 12 {
            .#{$prefix}grid-#{$key}-#{$i} {
                width:percentage($i/12);
            }
        }
    }
} //offset
@for $i from 1 to 12 {
    .#{$prefix}grid-offset-#{$i} {
        margin-left: percentage($i/12);
    }
} //general;
@for $i from 1 to 12 {
    .#{$prefix}grid-#{$i} {
        width: percentage($i/12);
    }
}