@font-face {
    font-family: 'icomoon';
    src: url('data:application/octet-stream;base64,AAEAAAALAIAAAwAwT1MvMg8SBoEAAAC8AAAAYGNtYXClUaWcAAABHAAAAIxnYXNwAAAAEAAAAagA\
    AAAIZ2x5ZhLmPngAAAGwAAAHVGhlYWQQ7ioFAAAJBAAAADZoaGVhCLwEzgAACTwAAAAkaG10eCsA\
    AGgAAAlgAAAANGxvY2EIfgpWAAAJlAAAABxtYXhwABMAlAAACbAAAAAgbmFtZZlKCfsAAAnQAAAB\
    hnBvc3QAAwAAAAALWAAAACAAAwPmAZAABQAAApkCzAAAAI8CmQLMAAAB6wAzAQkAAAAAAAAAAAAA\
    AAAAAAABEAAAAAAAAAAAAAAAAAAAAABAAADpcQPA/8AAQAPAAEAAAAABAAAAAAAAAAAAAAAgAAAA\
    AAADAAAAAwAAABwAAQADAAAAHAADAAEAAAAcAAQAcAAAABgAEAADAAgAAQAg6QHpDekb6TDpNek7\
    6T7pcf/9//8AAAAAACDpAekN6RrpMOk16TvpPulx//3//wAB/+MXAxb4FuwW2BbUFs8WzRabAAMA\
    AQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABAAH//wAPAAEAAAAAAAAAAAACAAA3OQEAAAAAAQAA\
    AAAAAAAAAAIAADc5AQAAAAABAAAAAAAAAAAAAgAANzkBAAAAAAIAAAAABAADoAAMABgAAAkBFzcR\
    ITUzFSERFzclIiY1NDYzMhYVFAYCAP4AYGABAIABAGBg/gAbJSUbGyUlA6D+AGBg/mDAwAGgYGBg\
    JRsbJSUbGyUAAAAEAAAAAAQAA4AAEAAhAC0ANAAAATgBMRE4ATEhOAExETgBMSE1ISIGFREUFjMh\
    MjY1ETQmIwcUBiMiJjU0NjMyFhMhNRMBMzcDwPyAA4D8gBomJhoDgBomJhqAOCgoODgoKDhA/QDg\
    AQBA4ANA/QADAEAmGv0AGiYmGgMAGibgKDg4KCg4OP24gAGA/sDAAAAFAAAAAgQAA4AAKgBOAGMA\
    bQCRAAABNCcuAScmJzgBMSMwBw4BBwYHDgEVFBYXFhceARcWMTMwNDEyNz4BNzY1AyImJy4BJy4B\
    NTQ2Nz4BNz4BMzIWFx4BFx4BFRQGBw4BBw4BATQ2Nw4BIyoBMQcVFzAyMzIWFy4BFycTHgE/AT4B\
    JwEiJicuAScuATU0Njc+ATc+ATMyFhceARceARUUBgcOAQcOAQQACgsjGBgbUyIjfldYaQYICAZp\
    WFd+IyJTGxgYIwsKnwcOBAkSCBISEhIIEgkEDgcHDgQJEggRExMRCBIJBA79lAUGJEImMxE3NxEz\
    JkIkBgV0gFIDFgx2DAkHAXYDBQIDBwMHBwcHAwcDAgUDAwUBBAcDBwcHBwMHBAEFAhNLQkNjHRwB\
    GBhBIyIWIlEuL1EiFSMiQhgYAR0dY0JCTP7KCwQLIBUud0JCdy4UIQoFCwsFCiEULndCQncuFSAL\
    BAsBNidLIwUFX1hfBQUjS64Y/r8NCwUwBBcMAUIFAQQNCBEuGhkuEggMBAIEBAIEDAgSLhkaLhEI\
    DQQBBQAEAAYAAAT6A4AADgAsAFkAZQAAATIWFwcuASMiBgcnPgEzJTY3PgE3NjMyFx4BFxYXByYn\
    LgEnJiMiBw4BBwYHARYXHgEXFhcxByYnLgEnJiMiBw4BBwYHJzY3PgE3Njc2Nz4BNzYzMhceARcW\
    ATQ2MzIWFRQGIyImAoBPjDRaI101NV0jWjSMT/47LjQ0cz4+QEA+PnM0NC5bJCoqXDEyMzMyMVwq\
    KiQCxygmJkchIh9bNj8/ikpKTU1KSoo/PzZbHyIhRyYmKCoqK1ctLS0tLS1XKyr+jSUbGyUlGxsl\
    AYA8NVojKCgjWjU8RS0jIy8NDAwNLyMjLVskHBwmCgoKCiYcHCQB0BEVFDEbHB5bNioqOg4PDw46\
    Kio2Wx4cGzEUFRERDQ0SBQQEBRINDfz1GyUlGxslJQACAAAAAAQAA0AAAwAKAAAlEyEDEwMRIRch\
    FQNAwPzAwICAASCAAaAAAgD+AAJA/cADQICAAAAAAAIAIv/iBAADwAATAB8AAAEhIgYHAQYUFwEW\
    MjcBPgE1ETQmASImNTQ2MzIWFRQGA9D+gBQwDv4kDg4BnA4oDgHcDhQc/vwoODgoKDg4A8AUDv4k\
    DigO/mQODgHcDjAUAYAUHP6AOCgoODgoKDgAAAAFAAD/wAPAA4AAGwA3AEsATwBTAAABIgcOAQcG\
    FRQXHgEXFjMyNz4BNzY1NCcuAScmAyInLgEnJjU0Nz4BNzYzMhceARcWFRQHDgEHBgM1MzUjNSMV\
    IxEzFSMVMxUzNTMRKwE1MxMjNTMB4GNYV4MlJiYlg1dYY2NYV4MlJiYlg1dYY1BFRmkeHh4eaUZF\
    UFBFRmkeHh4eaUZFMICAQICAgIBAgMBAQIBAQAOAJiWDV1hjY1hXgyUmJiWDV1hjY1hXgyUm/KAe\
    HmlGRVBQRUZpHh4eHmlGRVBQRUZpHh4BoIBAQED/AIBAQEABAID+wIAAAAAAAwAA/8ADwAOAABsA\
    NwByAAABIgcOAQcGFRQXHgEXFjMyNz4BNzY1NCcuAScmAyInLgEnJjU0Nz4BNzYzMhceARcWFRQH\
    DgEHBhMyNjU0JisBNzYmJyYGDwEnLgEHDgEfASMiBhUUFjsBFSMiBhUUFjsBFRQWMzI2PQEzMjY1\
    NCYrATUzAeBjWFeDJSYmJYNXWGNjWFeDJSYmJYNXWGNQRUZpHh4eHmlGRVBQRUZpHh4eHmlGRTAN\
    ExMNRF8HBQsLGghlZQgaCwsFB19EDRMTDWBgDRMTDWATDQ0TYA0TEw1gYAOAJiWDV1hjY1hXgyUm\
    JiWDV1hjY1hXgyUm/KAeHmlGRVBQRUZpHh4eHmlGRVBQRUZpHh4BYBMNDROOCxoIBwULmJgLBQcI\
    GguOEw0NE0ATDQ0TYA0TEw1gEw0NE0AAAAAAAQBAAAADwANAACQAACU1PgE1NCcuAScmIyIHDgEH\
    BhUUFhcVBgcOAQcGFSE0Jy4BJyYCQDVLAwMkJydISCcnJAMDSzVRR0ZnHh0DgB0eZ0ZH/TUehko8\
    NDVOFhcXFk41NDxKhh41BhcWQyssMDAsK0MWFwABAAAAAAAA4pGILV8PPPUACwQAAAAAANZq8sQA\
    AAAA1mryxAAA/8AE+gPAAAAACAACAAAAAAAAAAEAAAPA/8AAAAUAAAAAAAT6AAEAAAAAAAAAAAAA\
    AAAAAAANBAAAAAAAAAAAAAAAAgAAAAQAAAAEAAAABAAAAAUAAAYEAAAABAAAIgQAAAAEAAAABAAA\
    QAAAAAAACgAUAB4ASgCSAWQCAAIcAlQCzgNwA6oAAQAAAA0AkgAFAAAAAAACAAAAAAAAAAAAAAAA\
    AAAAAAAAAA4ArgABAAAAAAABAAcAAAABAAAAAAACAAcAYAABAAAAAAADAAcANgABAAAAAAAEAAcA\
    dQABAAAAAAAFAAsAFQABAAAAAAAGAAcASwABAAAAAAAKABoAigADAAEECQABAA4ABwADAAEECQAC\
    AA4AZwADAAEECQADAA4APQADAAEECQAEAA4AfAADAAEECQAFABYAIAADAAEECQAGAA4AUgADAAEE\
    CQAKADQApGljb21vb24AaQBjAG8AbQBvAG8AblZlcnNpb24gMS4wAFYAZQByAHMAaQBvAG4AIAAx\
    AC4AMGljb21vb24AaQBjAG8AbQBvAG8Abmljb21vb24AaQBjAG8AbQBvAG8AblJlZ3VsYXIAUgBl\
    AGcAdQBsAGEAcmljb21vb24AaQBjAG8AbQBvAG8AbkZvbnQgZ2VuZXJhdGVkIGJ5IEljb01vb24u\
    AEYAbwBuAHQAIABnAGUAbgBlAHIAYQB0AGUAZAAgAGIAeQAgAEkAYwBvAE0AbwBvAG4ALgAAAAMA\
    AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA=');
    font-weight: normal;
    font-style: normal;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  // [class^="icon-"]:only-child, [class*=" icon-"]:only-child{
  //   margin-right
  // }
  .icon-home:before {
    content: "\e901";
  }
  .icon-image:before {
    content: "\e90d";
  }
  .icon-bullhorn:before {
    content: "\e91a";
  }
  .icon-connection:before {
    content: "\e91b";
  }
  .icon-folder-open:before {
    content: "\e930";
  }
  .icon-price-tag:before {
    content: "\e935";
  }
  .icon-coin-dollar:before {
    content: "\e93b";
  }
  .icon-coin-yen:before {
    content: "\e93e";
  }
  .icon-user:before {
    content: "\e971";
  }
  