.#{$prefix}article{
    margin: 1rem;
    padding: 1rem;
}

.#{$prefix}article-meta{
    color: darken($default-color,20%);
    font-size: 1.4rem;
}

.#{$prefix}article-lead{
    border: 1px solid $default-color;
    background-color: lighten($default-color, 12%);
    color: darken($default-color,50%);
    border-radius: 2px;
    padding: 1rem;
    margin-bottom: 1rem;
    font-size: 1.4rem;
}

.#{$prefix}article-content{
    p{
        text-indent: 3.2rem;
    }
}