
@mixin panel-hd ($color:$default-color){
    border-bottom:  1px solid rgba($color,.2);
    padding: 1rem;
    & *{
        margin: 0;
    }
    color: darken($color,10%);
    background-color: rgba($color,.2);
}

@mixin panel-color($color:$default-color){
    border: 1px solid rgba($color,.5);
    .#{$prefix}panel-hd {
        border-bottom:  1px solid rgba($color,.2);
        color: darken($color,10%);
        background-color: rgba($color,.2);
    }
}

.#{$prefix}panel {
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
    background-color:$white-color;
    margin: 1rem;
    @include panel-color();
}

.#{$prefix}panel-hd{
    @include panel-hd();
    color: darken($default-color,40%);
}
.#{$prefix}panel-bd {
    padding: 1.5rem;
}
.#{$prefix}panel-primary {
    @include panel-color($primary-color);
}
.#{$prefix}panel-success {
    @include panel-color($success-color);
}
.#{$prefix}panel-warn {
    @include panel-color($warn-color);
}
.#{$prefix}panel-danger {
    @include panel-color($danger-color);
}