

@mixin progress-bar-color($background-color:$primary-color){
    background-color: $background-color;
}


.#{$prefix}progress {
    position: relative;
    height: 20px;
    width: 100%;
    background: {
        color: $default-color;
    }
    border-radius: 3px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);

    & .#{$prefix}progress-bar {
        float: left;
        max-width: 100%;
        height: 20px;
        font-size: .8em;
        left: 0;
        text-align: center;
        line-height: 20px;
        color: $white-color;
        min-width: 2em;
        &:last-of-type {
            border-radius:  0 3px 3px 0;
        }
        &:first-of-type {
            border-radius:  3px 0 0 3px;
        }
        &:only-child {
            border-radius:  3px 3px 3px 3px;
        }
        @include progress-bar-color();
    }
}

.#{$prefix}progress-bar-success {
    @include progress-bar-color($success-color);
}
.#{$prefix}progress-bar-primary {
    @include progress-bar-color($primary-color);
}
.#{$prefix}progress-bar-warn {
    @include progress-bar-color($warn-color);
}
.#{$prefix}progress-bar-danger {
    @include progress-bar-color($danger-color);
}
.#{$prefix}progress-bar-striped {
    background-image: linear-gradient(45deg, rgba(255, 255, 255, .3) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .3) 50%, rgba(255, 255, 255, .3) 75%, transparent 75%, transparent);
}