.#{$prefix}tip{
    padding: 1rem;
    background-color: white;
    border: 1px solid $default-color;
    text-align:center;
    width: auto;
    display: inline-block;
    border-radius:4px;
    position: relative;
    margin-bottom: 1rem;
    &:after{
        content: ' ';
        left:50%;
        transform: translate(-50%);
        bottom: -6.0px;
        background-color:white;
        position: absolute;
        display: block;
        width: 10px;
        height: 10px;
        border: 1px solid $default-color;
        border-width: 1px 0 0 1px;
        transform: rotate(225deg);
    }
}
